div .news-feed-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
}


div .news-search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div .news-feed {
    width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
}